# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDE configurations
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Local environment files
.env
